@import '../common-imports';

.client-list {
    &-members {
        > div {
            width: 50%;

            @include media-breakpoint-up(md) {
                flex: 0 0 auto;
                width: 25%;
                max-width: 100%;
            }
        }
    }
}
