@import '../common-imports';

.contact-form {
    &--wrapper {
        border-radius: 1.7rem;
        box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.24);

        .row {
            > div {
                &:first-child {
                    > div {
                        @include media-breakpoint-up(xl) {
                            margin-right: 5.2rem;
                        }
                    }
                }

                &:last-child {
                    > div {
                        @include media-breakpoint-up(xl) {
                            margin-left: -5.1rem;
                        }
                    }
                }
            }
        }

        .form-group-inline {
            gap: 1.2rem;

            @include media-breakpoint-up(xl) {
                gap: 0.8rem;
            }
        }

        .form-control,
        .select-selected,
        textarea.form-control {
            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
                line-height: 1.43;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .form-control,
        .select-selected {
            height: 4.8rem;

            @include media-breakpoint-up(xl) {
                height: 6rem;
            }

            @include placeholder {
                color: $orr-blue;
            }
        }

        .select-selected {
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
            padding-right: 4rem;

            @include media-breakpoint-up(md) {
                line-height: 1.43;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 1.8rem;
                padding-bottom: 1.7rem;
                line-height: 1.5;
            }

            &::after {
                font-size: 2rem;
                font-weight: 600;
                color: $primary;
            }
        }

        textarea.form-control {
            height: 30.4rem;
            border-radius: 1.7rem;

            @include media-breakpoint-up(md) {
                height: 40.8rem;
                border-radius: 1.5rem;
            }

            @include media-breakpoint-up(xl) {
                height: 48rem;
            }
        }

        .btn {
            width: 16.4rem;
            height: 5.6rem;
            text-transform: uppercase;
            line-height: 1.3;

            @include media-breakpoint-up(md) {
                height: 4.8rem;
            }

            @include media-breakpoint-up(xl) {
                width: 20.2rem;
                height: 6rem;
            }
        }
    }
}
