@import '../common-imports';

.cta-banner {
    &-article {
        > * {
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: $hover-blue;
            }
        }

        p {
            font-weight: $font-weight-bold;
        }
    }

    &-figure {
        img {
            width: 100%;
        }
    }

    &--inline {
        flex-direction: row;

        .cta-banner-article {
            @include media-breakpoint-down(md) {
                padding-top: 1.5rem;
            }
        }

        .cta-banner-figure {
            min-width: 4.4rem;
            max-width: 4.4rem;
            margin-right: 1.6rem;

            @include media-breakpoint-up(xl) {
                min-width: 7.2rem;
                max-width: 7.2rem;
                margin-right: 2.4rem;
            }
        }
    }

    &--stack {
        .cta-banner-content {
            flex-direction: column;

            ul {
                justify-content: center;
                padding-left: 0;
                list-style-type: none;
                margin-top: 0.8rem;

                @include media-breakpoint-up(xl) {
                    margin-top: 1.2rem;
                }

                > li {
                    margin-bottom: 0;
                    position: relative;

                    &:not(:first-child) {
                        margin-left: 2.4rem;

                        &::before {
                            content: '';
                            width: 0.4rem;
                            height: 0.4rem;
                            border-radius: 50%;
                            background-color: $white;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -1.3rem;
                        }
                    }
                }
            }
        }

        .cta-banner-article {
            text-align: center;
        }

        .cta-banner-figure {
            min-width: 6.4rem;
            max-width: 6.4rem;
            margin: auto;
            margin-bottom: 1.6rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 2rem;
            }

            @include media-breakpoint-up(xl) {
                min-width: 9.3rem;
                margin-bottom: 2.4rem;
            }
        }
    }

    &--white,
    &--light-textured,
    &--transparent,
    &--light-blue {
        color: $orr-blue;
    }

    &--white,
    &--light-blue {
        a {
            color: $orr-blue;
        }
    }

    &--white {
        background-color: $white;
    }

    &--light-textured,
    &--dark-textured {
        background-position: center center;
    }

    &--light-textured {
        background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');

        .cta-banner-article a {
            &:hover {
                color: $hover-blue;
            }
        }

        ul > li:not(:first-child)::before {
            background-color: $dark-blue !important;
        }
    }

    &--dark-textured {
        background-image: url('#{$theme-imgpath}blue-paper-texture-web@2x.jpg');
        color: $white;
    }

    &--cream {
        background-color: $cream;
    }

    &--light-blue {
        background-color: $light-blue;
    }

    &--left {
        .cta-banner-content {
            justify-content: flex-start;
        }
    }

    &--center {
        .cta-banner-content {
            justify-content: center;
        }
    }

    &--sm {
        padding: 2.4rem 0;

        @include media-breakpoint-up(md) {
            padding: 0.8rem 0;
        }

        .cta-banner-article {
            p {
                font-weight: $font-weight-semi-bold;
            }
        }
    }

    &--md {
        padding: 2.4rem 0;

        @include media-breakpoint-up(xl) {
            padding: 3.2rem 0;
        }
    }

    &--lg {
        padding: 3.2rem 0 4rem;

        @include media-breakpoint-up(md) {
            padding: 4rem 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 6.4rem 0 5.6rem;
        }
    }
}
