@import '../common-imports';
@import '../sliders/swiper-a01';

.featured-category-slider {
    background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');
    .swiper-a01 {
        @include media-breakpoint-between(md, xl){
            margin-left: 6rem;
        }
        
        .swiper {
            overflow: visible;

            &-slide {
                transition: all 0.5s ease-in;
                min-width: 30rem !important;
                width: 20%;

                @include media-breakpoint-up(md) {
                    min-width: 28.4rem !important;
                    width: 20%;
                }

                @include media-breakpoint-up(xl) {
                    min-width: 33.3rem !important;
                    width: 20%;
                }

                &:last-child {
                    margin-right: 0 !important;
                }

                .card-d01 {
                    .card-figure {
                        height: 25rem;
                    }
                    .card-body {
                        .h6 {
                            margin-top: 1rem !important;
                        }
                    }
                }
            }
            &-button {
                &-next {
                    left: -5.9rem;

                    @include media-breakpoint-up(xl) {
                        left: -9.2rem;
                    }
                }

                &-prev {
                    right: -1.2rem;

                    @include media-breakpoint-up(xl) {
                        right: -9.2rem;
                    }
                }

                &-disabled {
                    opacity: 0;
                }
            }
        }
    }
}
