@import '../common-imports';

.form-join-our-talent-community {
    &__content {
        @include media-breakpoint-up(md) {
            max-width: 22.4rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 34.4rem;
        }

        .h4,
        h4 {
            @include media-breakpoint-up(xl) {
                margin-right: 8.5rem;
            }
        }
    }

    &__form {
        height: fit-content;
        border-radius: 1.95rem;

        @include media-breakpoint-up(md) {
            max-width: 46.4rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 58.4rem;
        }

        form {
            background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');

            input {
                @include placeholder {
                    color: $placeholder-input;
                }
            }
        }
        p{
            @include media-breakpoint-up(xl){
                font-size: 1.5rem;
            }
        }
        &-upload {
            width: 4.1rem;
            height: 4.1rem;
            border-radius: 50%;
            @include media-breakpoint-up(xl){
                width: 5.1rem;
                height: 5.1rem;
            }
        }
    }
}
