@import '../common-imports';

.gallery {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.29);
    border-radius: 9px;

    &-slider {
        .swiper-slide {
            width: auto;
            height: auto;

            img {
                height: 4rem;

                @include media-breakpoint-up(xl) {
                    height: 8rem;
                }
            }
        }
    }
}

.swiper-control {
    .swiper-button {
        border: 0.1rem solid $info;
        border-radius: 50%;
        box-shadow: 0 0 0 0.05rem $info;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;

        @include media-breakpoint-up(xl) {
            border: 0.2rem solid $info;
            box-shadow: 0 0 0 0.1rem $info;
            width: 4.8rem;
            height: 4.8rem;
        }

        &:not(:first-child) {
            margin-left: 1.2rem;

            @include media-breakpoint-up(xl) {
                margin-left: 2rem;
            }
        }

        > i {
            font-size: 2.3rem;
            width: 0.8rem;
            height: 1.9rem;
            line-height: 1.8rem;

            @include media-breakpoint-up(xl) {
                font-weight: bold;
                font-size: 3.4rem;
                width: 1.6rem;
                height: 2.2rem;
                line-height: 2.2rem;
            }

            &::before {
                margin-left: -0.8rem;

                @include media-breakpoint-up(xl) {
                    margin-left: -0.8rem;
                }
            }
        }

        // &-prev {
        // }

        &-next {
            > i {
                &::before {
                    @include media-breakpoint-down(xl) {
                        margin-left: -0.5rem;
                    }
                }
            }
        }
    }
}
