@import '../common-imports';

.leadspace {
    &--homepage,
    &--about,
    &--values {
        .container {
            > div {
                background-color: transparent;
                @include media-breakpoint-up(md) {
                    align-items: flex-end;
                    justify-content: space-between;
                }

                > div,
                > article {
                    width: 100%;
                    height: min-content;
                }
            }
        }

        .leadspace {
            &-description {
                order: 2;

                @include media-breakpoint-up(md) {
                    order: 1;
                }
            }

            &-figure {
                order: 1;

                @include media-breakpoint-up(md) {
                    flex: 1;
                    order: 2;
                }
                
            }
        }
    }

    &--homepage {
        .container {
            > div {
                padding-top: 13rem;
                padding-bottom: 7.2rem;

                @include media-breakpoint-up(md) {
                    padding-top: 16rem;
                    padding-bottom: 7.2rem;
                }

                @include media-breakpoint-up(lg){
                    padding-bottom: 4.2rem;
                }
                @include media-breakpoint-up(xl) {
                    padding-top: 19rem;
                    padding-bottom: 12rem;
                }
            }
        }

        .leadspace {
            &-description {
                margin-top: 2.4rem;

                @include media-breakpoint-up(md) {
                    max-width: 34.4rem;
                    min-width: 34.4rem;
                    margin-top: 0;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 47.5rem;
                }
            }

            &-figure {
                @include media-breakpoint-up(md) {
                    transform: translateY(-2.5rem);
                    margin-left: 2rem;
                }

                @include media-breakpoint-up(xl) {
                    transform: translateY(-20px) scale(1.13);
                    margin-left: 7.5rem;
                }
            }
        }

        .h5 {
            margin-top: 0.8rem;

            @include media-breakpoint-up(xl) {
                margin-top: 1.6rem;
            }
        }

        p {
            max-width: 37.6rem;
            margin-top: 2.4rem;

            @include media-breakpoint-up(xl) {
                margin-top: 4.8rem;
            }
        }
    }

    &--about {
        .container {
            > div {
                padding-top: 13rem;
                padding-bottom: 8rem;

                @include media-breakpoint-up(md) {
                    padding-top: 16rem;
                    padding-bottom: 12rem;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 17rem;
                    padding-bottom: 16rem;
                }
            }
        }

        .leadspace {
            &-description {
                margin-top: 3.2rem;

                @include media-breakpoint-up(md) {
                    max-width: 38rem;
                    min-width: 38rem;
                    margin-top: 0;
                }

                @include media-breakpoint-up(xl) {
                    max-width: 50.5rem;
                    padding-bottom: 4rem;
                }
            }

            &-figure {
                @include media-breakpoint-up(md) {
                    margin-left: 4rem;
                }

                @include media-breakpoint-up(xl) {
                    margin-left: 5.6rem;
                }
            }
        }

        p {
            margin-top: 2rem;

            @include media-breakpoint-up(xl) {
                margin-top: 4.8rem;
            }
        }
    }

    &--values {
        .container {
            > div {
                padding-top: 13rem;
                padding-bottom: 8rem;

                @include media-breakpoint-up(md) {
                    padding-top: 16rem;
                    padding-bottom: 12rem;
                }

                @include media-breakpoint-up(xl) {
                    padding-top: 17rem;
                    padding-bottom: 16rem;
                }
            }
        }

        .leadspace {
            &-description {
                margin-top: 2.4rem;

                @include media-breakpoint-up(md) {
                    max-width: 34.4rem;
                    min-width: 34.4rem;
                    margin-top: 0;
                    padding-bottom: 1rem;
                }

                @include media-breakpoint-up(xl) {
                    max-width: 49.5rem;
                    padding-bottom: 2rem;
                }
            }

            &-figure {
                @include media-breakpoint-up(md) {
                    margin-left: 1.5rem;
                    height: 38.4rem;
                }

                @include media-breakpoint-up(lg) {
                    height: auto;
                }

                @include media-breakpoint-up(xl) {
                    margin-left: 4.3rem;
                }

                img {
                    @include media-breakpoint-down(lg) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .h3 + .h3 {
            margin-top: 1.6rem;

            @include media-breakpoint-between(md, xl) {
                margin-top: 1.2rem;
            }
        }

        p {
            margin-top: 2rem;

            @include media-breakpoint-up(xl) {
                margin-top: 4.8rem;
            }
        }
    }
}
