@import '../common-imports';

.leadspace4{
    margin-top: 11rem;
    @include media-breakpoint-up(xl) {
        margin-top: 13.4rem;
    }
       
    .container{
        &>div{
            .leadspace4-description{
                @include media-breakpoint-up(lg) {
                    margin-right: 4.8rem;
                }
            }
        }
    }
    &-description{
        width: 100%;
        flex: 0 0 40.41%;
        @include media-breakpoint-up(md) {
            width: 50%;
            padding-bottom: 0;
            padding-right: 1.6rem;
        }
        @include media-breakpoint-up(lg) {
            width: 43rem;
            padding-right: 0;
        }
        .logo{
            width: 4.4rem;
            @include media-breakpoint-up(lg) {
                width: 7.2rem;
            }
        }
        a{
            &:hover{
                color:$hover-blue!important;
            }
        }
    }
    &-image{
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 36.4rem;
        }
        @include media-breakpoint-up(lg) {
            width: 60.6rem;
        }
    }
}
