@import '../common-imports';

.leadspace5{
    &-figure{
        height: 22.3rem;
        width: 22.3rem;
        @include media-breakpoint-up(xl){
            height: 26.8rem;
            width: 26.8rem;
        }
        img{
            object-fit: contain;
        }
    }
    &-description__title{
        top:3.4rem;
        @include media-breakpoint-up(xl){
            top:4rem;
        }
    }
    .bg--alternate{
        background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');
    }
}
