@import '../common-imports';

.modal-video-form{
    .modal{
        &-dialog{
            @include media-breakpoint-down(md){
                margin:2rem;
            }
        }
        &-content{
            @include media-breakpoint-up(lg){
                width:75.6rem;
            }
        }
    }
    .btn-close{
        right: 2%;
        top:2%;
    }
}
