@import "../common-imports";

.our-services {
    .swiper-wrapper {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .swiper {
        overflow: hidden;

        &-slide {
            transition: all 0.5s ease-in;
            @include media-breakpoint-up(md) {
                width: 30%;
            }
        }

        &-pagination {
            width: 100%;
            @include media-breakpoint-up(md){
                display: none !important;
            }
            &-bullet {
                background-color: $orr-blue;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                margin: 0 0.8rem;

                &-active {
                    background-color: $hover-blue;
                }
            }
        }
    }

    
}
