@import '../common-imports';

.quote {
    background-color: $cream;

    &-carousel {
        max-width: 100%;
        margin: 0 auto;

        .swiper {
            &-control {
                .swiper-button {
                    @include media-breakpoint-up(md) {
                        font-size: 2rem;

                        i {
                            font-weight: bold;
                        }
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 3.4rem;

                        i {
                            font-weight: normal;
                        }
                    }

                    &-disabled {
                        opacity: 1;
                    }

                    &-prev {
                        @include media-breakpoint-up(md) {
                            left: -3.6rem;
                        }

                        @include media-breakpoint-up(lg){
                            left: -5.6rem;
                        }

                        @include media-breakpoint-up(xl) {
                            left: -8rem;
                        }
                    }

                    &-next {
                        @include media-breakpoint-up(md) {
                            right: -3.6rem;
                        }
                        
                        @include media-breakpoint-up(lg){
                            right: -5.6rem;
                        }

                        @include media-breakpoint-up(xl) {
                            right: -8rem;
                        }
                    }
                }
            }

            &-pagination-bullet {
                margin: 0 0.7rem;
            }
        }

        &--single {
            max-width: 100%;

            .card-quote {
                .card-figure {
                    @include media-breakpoint-up(xl) {
                        margin-right: 8.4rem !important;
                    }
                }
            }
        }
    }

    &--alternate {
        // @extend %texture-light;
        background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');

        .swiper {
            &-pagination-bullet {
                background-color: $white;

                &-active {
                    background-color: $orr-blue;
                }
            }
        }
    }

    &--white {
        background-image: url('#{$theme-imgpath}texture-modal-02@2x.png') !important;
        background-color: transparent;
        .quote-carousel {
            max-width: 84.8rem !important;
        }
    }
}
