@import "../common-imports";

.search-banner{
    
    &__wrapper{
        border-radius: 1.7rem;
        @include media-breakpoint-up(md){
            border-radius: 0.5rem;
            height: 9.6rem;
        }
        @include media-breakpoint-up(xl){
            height: 13.6rem;
        }
    }
    &__form{
        box-shadow: $shadow4;
        border-radius: 28.5rem;
        @include media-breakpoint-up(md){
            box-shadow: $shadow3;
        }
        input{
            box-shadow: none;
            &::-ms-clear,
            &::-ms-reveal{
                display: none;
                width : 0; 
                height: 0; 
            }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
            @include placeholder{
                color: $orr-blue;
            }
            &:hover{
                @include placeholder{
                    color: $orr-blue;
                }
            }
        }
        &-magnifier{
            height: 2.3rem;
            width: 2.3rem;
            right: 2.1rem;
            background-image: url('#{$theme-imgpath}magnifier@3x.png');
            background-size: 100%;
            background-repeat: no-repeat;
            @include media-breakpoint-up(xl){
                right: 1.9rem;
            }
        }   
    } 
}
