@import '../common-imports';

.section-location-module {
    &__wrapper{
        box-shadow: $card-shadow;
        border-radius: 0.9rem;
    }
    &__content {
        & > *{
            height: 28rem;
            width: 100%;
            @include media-breakpoint-up(sm){
                width: 50%;
            }
            @include media-breakpoint-up(md){
                height: 28.4rem;
            }
            @include media-breakpoint-up(xl){
                height: 40rem;
            }
        }
        &-text{
            h4{
                @include media-breakpoint-up(xl){
                    margin-bottom: 3.5rem;
                }
            }
            p{
                margin-bottom: 0;
                @include last-child{
                    margin-top: 3.3rem;
                }
            }

        }
        @include odd{
            background-image: url('#{$theme-imgpath}texture-modal-03@2x.jpg');
            background-repeat: repeat;
            .h4,
             h4,
             p{
                color: $white;
            }
            
        }
      
        @include even {
            flex-direction: row-reverse;
            background-image: url('#{$theme-imgpath}texture-blue-01@2x.png');
            background-repeat: repeat;
             .h4, h4{
                 color: $orr-blue;
             }
        }  
    }
}
