@import '../common-imports';

.work {
    // background-color: $gradient-light-top;
    padding: 2.4rem 0 12.8rem;

    @include media-breakpoint-up(lg) {
        padding: 14.6rem 0 20.8rem;
    }

    @include media-breakpoint-up(xxl) {
        padding: 14.2rem 0 13.8rem;
    }

    &-bg {
        width: 1100px;
        left: 0;
        transform: rotate(18deg) translateX(-470px);
        top: -7rem;

        @include media-breakpoint-up(sm) {
            width: 1450px;
            transform: rotate(18deg) translateX(-1060px);
            top: 2rem;
        }

        @include media-breakpoint-up(xl) {
            width: 2650px;
            transform: rotate(18deg) translateX(-1910px);
            top: 16rem;
        }
    }
}

.how-it-works {
    margin-bottom: 14rem;

    .h2 {
        margin-bottom: 1.4rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 8.2rem;
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: 7.4rem;
        }
    }

    &-lists {
        display: flex;
        // gap: 4.4rem;
        margin-left: 4.8rem;

        @media (min-width: 1199px) {
            // gap: 3rem;
            margin-left: 0;
        }

        @media (min-width: 1599px) {
            // gap: 5rem;
        }

        // @media (min-width: 1771px) {
        //     margin-left: 0;
        // }

        > div {
            min-width: 26rem;
            position: relative;
            padding-top: 3.5rem;
            margin-right: 4.4rem;

            @media (min-width: 1199px) {
                min-width: auto;
                width: 20%;
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            @media (min-width: 1599px) {
                margin-right: 5rem;
            }

            &::after {
                content: '\e901';
                width: 2rem;
                height: 2rem;
                font-family: 'Icons';
                font-size: 2rem;
                color: $warning;
                position: absolute;
                top: 12rem;
                right: -3.2rem;

                // @media (min-width: 767px) {
                //     top: 9rem;
                // }
            }

            &::before {
                content: '';
                width: calc(100% + 80px);
                height: 0.2rem;
                background-color: $warning;
                position: absolute;
                top: 0;
                left: 0;
            }

            // &:last-child {
            //     padding-right: 48px;
            // }

            &:last-child {
                &::after {
                    //   display: none;
                    color: $white;
                    font-size: 3rem;
                }

                &::before {
                    width: calc(100% + 0px);
                }
            }

            // @include media-breakpoint-up(lg) {
            //     &::after,
            //     &::before {
            //         display: none;
            //     }
            // }

            @media (min-width: 1199px) {
                &::after,
                &::before {
                    display: none;
                }
            }

            // @media (min-width: 1200px) {
            //     min-width: 29.5rem;
            // }

            // @media (min-width: 1771px) {
            //     &:last-child {
            //         padding-right: 0;
            //     }
            // }

            // > article {
            //     background-color: red;

            //     @media (min-width: 1771px) {
            //         background-color: green;
            //     }
            // }
        }
    }
}

.scrollable {
    max-width: 170rem;
    margin: 0 auto;
    // padding: 1rem 1.5rem;

    @media (min-width: 1199px) {
        padding: 0 5rem;
    }

    @media (min-width: 1499px) {
        padding: 0 10rem;
    }

    // @media (min-width: 1771px) {
    // @media (min-width: 1199px) {
    // max-width: 1675px;
    // max-width: 170rem;
    // overflow: auto;
    // margin: 0 auto;
    // padding: 1rem 1.5rem;
    // }

    @media (max-width: 1198px) {
        padding: 1rem 0;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.card-work {
    border-top: 2.4rem solid #161b5a;
    background-color: $white;
    height: 100%;
    border-radius: 1.2rem;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.04);
    padding: 6rem 2.4rem;

    // @media (min-width: 767px) {
    //     padding: 3rem 2.4rem;
    // }

    // @media (min-width: 991px) {
    //     padding: 3rem 2.4rem;
    // }

    // @media (min-width: 1199px) {
    //     padding: 3rem 2rem;
    // }

    @media (min-width: 1599px) {
        padding: 6rem 2.4rem;
    }

    &-header {
        font-weight: 600;
        margin-bottom: 4.8rem;
        display: block;
    }

    &-body {
        h3 {
            font-size: 2.5rem;
            line-height: 4rem;
            margin-bottom: 2.8rem;

            @include media-breakpoint-up(lg) {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.gallery {
    width: 100%;
    // max-width: 620rem;
    margin: 0 auto;
    // background-color: aliceblue;

    &-slider {
        width: 100%;
        height: auto;
        margin: 0;

        .swiper-slide {
            width: auto;
            height: auto;

            // @include media-breakpoint-up(lg) {
            //     height: 40rem;
            // }

            img {
                display: block;
                height: 4.8rem;
                margin: 0 auto;
            }
        }
    }

    &-thumbs {
        width: 100%;
        padding: 0;
        overflow: hidden;
        margin-bottom: 6rem;

        .swiper-slide {
            // width: 10rem;
            width: 33.33333%;
            height: 10rem;
            text-align: center;
            overflow: hidden;
            opacity: 0.25;
            cursor: pointer;

            img {
                width: auto;
                height: 100%;
                transform: scale(0.6);
            }

            &-active {
                opacity: 1;

                img {
                    transform: scale(1);
                }
            }
        }
    }

    .swiper-button {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        line-height: 1;
        color: $warning;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
            top: 3rem;
            transform: none;
            font-size: 6rem;
        }

        &-prev {
            left: -4.2rem;

            @include media-breakpoint-up(lg) {
                left: -2rem;
            }

            @include media-breakpoint-up(xxl) {
                left: -10rem;
            }
        }

        &-next {
            right: -4.2rem;

            @include media-breakpoint-up(lg) {
                right: -2rem;
            }

            @include media-breakpoint-up(xxl) {
                right: -10rem;
            }
        }
    }
}

.card-testimonials {
    p {
        margin-bottom: 4rem;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 2.5rem;
        font-weight: 500;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            font-size: 2.4rem;
            line-height: 3.5rem;
            font-weight: 600;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 2.9rem;
            line-height: 4.5rem;
            font-weight: 500;
        }
    }
}
