@import '../common-imports';

.banner-a03 {
    &__right-col {
        margin-top: 6.6rem;
        @include media-breakpoint-up(md) {
            margin: 6.6rem 0;
        }
        @include media-breakpoint-up(lg) {
            margin: 18.8rem 0 13.2rem;
        }
    }
}