.modal {
    &-backdrop {
        &.show {
            opacity: 0.29;
        }
    }

    &-dialog {
        max-width: 100%;

        @include media-breakpoint-down(xl) {
            margin-left: 3.2rem;
            margin-right: 3.2rem;
        }

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        @include media-breakpoint-up(xl) {
            max-width: 106.4rem;
        }
    }

    &-content {
        border-radius: 2.3rem 2.3rem 3rem 3rem;
        box-shadow: 0.2rem 0.2rem 2.4rem 0 rgba(0, 0, 0, 0.4);
    }

    &-body {
        padding: 0;
    }

    &-team {
        &:not(.hasQuote) {
            .modal-body {
                border-radius: 2.3rem 2.3rem 3rem 3rem !important;
                overflow: hidden;
            }
        }

        .btn-close-modal {
            background-color: transparent;
            border: none;
            right: 1.2rem;
            top: 1.6rem;
            color: red;
            z-index: 1;

            @include media-breakpoint-up(md) {
                right: 3.2rem;
                top: 2.8rem;
            }

            i {
                font-size: 2.3rem;
            }
        }

        &-sidebar {
            border-radius: 2.3rem 2.3rem 0 0;
            box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.24);
            position: relative;
            z-index: 1;

            @include media-breakpoint-up(md) {
                min-width: 34.4rem;
                max-width: 34.4rem;
                border-radius: 2.3rem 0 0 0;
            }

            @include media-breakpoint-up(xl) {
                min-width: 40.5rem;
                max-width: 40.5rem;
            }
        }

        &-author {
            img {
                border-radius: 2.3rem 2.3rem 0 0;

                @include media-breakpoint-up(md) {
                    border-radius: 2.3rem 0 0 0;
                }
            }
        }

        address {
            img {
                width: 4rem;
                height: 4rem;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }
                figure {
                    flex-basis: 4rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                }
            }

            a {
                word-break: break-all;
            }
        }
        
        &-insights {
            a {
                font-weight: $font-weight-bold;
                color: red;

                &:hover {
                    color: green;
                }
            }
        }

        &-content {
            @include media-breakpoint-up(md) {
                border-radius: 0 2.3rem 0 0;
                position: relative;
            }
        }

        .modal-quote {
            border-radius: 0 0 2.3rem 2.3rem;

            article {
                &::before {
                    content: '';
                    width: 4rem;
                    height: 4rem;
                    background-image: url('#{$theme-imgpath}icon-quote.svg');
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -4.8rem;
                    left: 50%;
                    transform: translateX(-50%);

                    @include media-breakpoint-up(md) {
                        left: -3.6rem;
                        top: 0;
                    }
                }
            }
        }
    }
}
