$global: 'theme';
$shadow: rgba(0, 0, 0, 0.161);
$card-shadow:0.2rem 0.2rem 2.4rem 0 rgba(0, 0, 0, 0.24);
$shadow2: inset 0.3rem 0.3rem 3rem 0.4rem rgba(0,0,0,0.24);
$shadow3: inset 0.2rem 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.5);
$shadow4: inset 0.2rem 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.24);
$shadow5: 0 0.2rem 0.4rem  0 rgba(0, 0, 0, 0.5);
$shadow6: 0.2rem 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.5);
$shadow7: inset 0.3rem 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.25);
$shadow8: 0.1rem 0.1rem 0.2rem 0 rgba(162, 151, 151, 0.6);
$shadow9: inset 0.1rem 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.5);
$work-border: #161b5a;
$placeholder-input: #878787;
