.swiper {
    &-pagination {
        width: 100%;

        &-bullet {
            background-color: red;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            margin: 0 0.8rem;

            &-active {
                background-color: green;
            }
        }
        &-disabled {
            display: none !important;
        }
    }

    &-control {
        top: 22.5rem;

        @include media-breakpoint-up(xl) {
            top: 32rem;
        }

        .swiper-button {
            border-radius: 50%;

            @include media-breakpoint-up(md) {
                width: 4rem;
                height: 4rem;
                font-size: 5.4rem;
            }

            @include media-breakpoint-up(xl) {
                width: 6.4rem;
                height: 6.4rem;
                font-size: 8.4rem;
            }
        }
        &-disabled {
            display: none !important;
        }
    }
}
