@import '../common-imports';

.card-case {
    height: 14.3rem;
    padding: 3.2rem 1.8rem;
    box-shadow: 0.2rem 0.2rem 2rem 0 rgba(63, 63, 63, 0.24);
    border-radius: 1.95rem;

    @include media-breakpoint-up(md) {
        height: 16.4rem;
    }

    @include media-breakpoint-up(xl) {
        height: 25.4rem;
    }

    &-btn {
        border: none;
        background-color: transparent;
        box-shadow: none;
        text-indent: -999rem;
    }
}
