@import '../common-imports';

.card-gated-content-form {
    background-image: url('#{$theme-imgpath}light-blue-paper-texture-web@2x.jpg');
    background-repeat: repeat;

    input {
        box-shadow: $shadow3;
        @include placeholder {
            color: $placeholder-input;
        }
    }
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    @include media-breakpoint-up(md) {
        border-radius: 1.95rem;
    }
    &__submit {
        background-image: url('#{$theme-imgpath}triangle.png');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 60% 50%;
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        box-shadow: $shadow3;
        @include media-breakpoint-up(xl) {
            width: 5.1rem;
            height: 5.1rem;
        }
        &:hover {
            background-image: url('#{$theme-imgpath}triangle-white.svg');
            background-color: $primary !important;
        }
    }
}
