@import '../common-imports';

.card-a04 {
    @include media-breakpoint-down(md) {
        &:nth-child(n+2) {
            margin-top: 4rem;
        }
    }
    @include media-breakpoint-up(md) {
        &:nth-child(n+4) {
            margin-top: 2.4rem;
        }
    }
    @include media-breakpoint-up(lg) {
        &:nth-child(n+4) {
            margin-top: 4.8rem;
        }
    }

    & > div {
        border-radius: 2.4rem;
    }
    &__icon {
        img {
            height: 2.4rem;
            @include media-breakpoint-up(lg) {
                height: 5.2rem;
            }
        }
    }
}