@import "../common-imports";

.card-a02 {
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 2rem 0 rgba(14, 36, 73, 0.24);
    &__text {
        border-radius: 0 0 2rem 2rem;
        .eyebrow {
            font-size: 1.2rem;
        }
    }
    &__img {
        img {
            object-fit: none;
            border-radius: 2rem 2rem 0 0;
        }
    }
}
