<section class="article-content">
    <div class="container">
        @@if (context.modifier === "imageWithContent"){
            <div class="article-content-wrap position-relative texture-white pt-xl-25">
        }
        @@if (context.modifier === "image"){
            <div class="article-content-wrap position-relative texture-white pb-8 pb-md-16 pt-xl-25 pb-xl-26">
        }
        @@if (context.modifier === "video"){ 
            <div class="article-content-wrap position-relative texture-white pb-8 pb-md-16 pt-xl-25 pb-xl-26">
        }    
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <header class="article-content-header text-orr-blue">
                        @@if (context.modifier === "image"){
                            <figure>
                                <img src="images/img-article-001@2x.jpg" alt="Title here" />
                            </figure>
                        }
                        @@if (context.modifier === "imageWithContent"){
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="article-content-header__individual-info order-2 order-md-1 pt-6 pt-md-40 pe-md-8">
                                    <h3 class="article-content-header__individual-info-name mb-2 mb-md-4">
                                        Adam Glick
                                    </h3>
                                    <p class="article-content-header__individual-info-position mb-4 mb-md-8">
                                        Director
                                    </p>
                                    <ul class="article-content-header__individual-info-social ps-0">
                                        <li class="d-flex align-items-center mt-4">
                                            <figure class="me-4">
                                                <img src="images/icon-mail@2x.png" alt="">
                                            </figure>
                                            <a href="#">aglick@orrgroup.com</a>  
                                        </li>
                                        <li class="d-flex align-items-center mt-4">
                                            <figure class="me-4">
                                                <img src="images/icon-linkedin@2x.png" alt="">
                                            </figure>
                                            <a href="#">/LinkedIn/AdamGlick</a>  
                                        </li>
                                    </ul>
                                </div>
                                <div class="article-content-header__image  order-1 order-md-2">
                                    <figure class="ratio ratio-1x1">
                                        <img class="object-fit" src="images/profile-pic-adam-hover@2x.jpg" alt="Title here" />
                                    </figure>
                                </div>
                            </div>
                        }
                        @@if (context.modifier === "video"){
                            <div class="ratio ratio-3x2">
                                <div>
                                <div class="video-module__video-poster h-100 w-100 position-relative zindex-4">
                                    <img
                                        class="position-absolute top-0 start-0 h-100 w-100 zindex-1 object-fit"
                                        src="images/@@posterImage"
                                        alt=""
                                    />
                                    <img
                                        class="
                                            video-module__video-poster-play
                                            position-absolute
                                            top-50
                                            start-50
                                            translate-middle
                                            zindex-2
                                        "
                                        src="images/play.png"
                                        alt=""
                                    />
                                </div>
                                <iframe
                                    class="iframe position-absolute top-0 start-0 zindex-3"
                                    width="100%"
                                    height="100%"
                                    src="https://www.youtube.com/embed/8Qrdh9ujpaY"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allowfullscreen
                                ></iframe>
                                </div>
                            </div>
                        }
                        
                        <date
                            class="
                                eyebrow
                                d-block
                                text-primary
                                body-2
                                position-relative
                                zindex-10
                                mt-6 mt-md-9 mt-xl-14
                                @@dateModifier
                            "
                        >
                            <a class="position-relative" href="#" title="Lorem Ipsum Tag">Lorem Ipsum Tag</a>
                            <a class="position-relative" href="#" title="Published Date, 2021">Published Date, 2021</a>
                        </date>
                        @@if (context.modifier === "image"){
                            <h4 class="mt-1 mt-md-2 mt-xl-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.
                            </h4>
                            <p class="mt-4 font-bold">Created by: Lorem Ipsum</p>
                        }  
                        @@if (context.modifier === "video"){
                            <h4 class="mt-1 mt-md-2 mt-xl-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.
                            </h4>
                            <p class="mt-4 font-bold">Created by: Lorem Ipsum</p>
                        }        
                        @@if (context.modifier === "imageWithContent"){
                            <h5 class="text-orr-blue mt-6 mt-md-8 mt-xl-14">
                                About Adam
                            </h5>
                        }
                    </header>
                    @@if (context.modifier === "imageWithContent"){
                        <div class="article-content-post  pb-8 pb-md-14 mt-6 mt-md-8 mt-xl-14">
                    }
                    @@if (context.modifier === "image"){
                        <div class="article-content-post mt-6 mt-md-8 mt-xl-14">
                    }
                    @@if (context.modifier === "video"){ 
                        <div class="article-content-post mt-6 mt-md-8 mt-xl-14">
                    }
                        <article class="post">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper urna
                                faucibus ipsum molestie, et consectetur nunc ullamcorper. Pellentesque semper nunc et
                                nulla rhoncus, at dignissim sem mattis. Nulla facilisi. Nulla iaculis metus in leo
                                porttitor rhoncus. Pellentesque interdum a mauris sit amet varius. Ut vitae erat ac dui
                                ullamcorper efficitur at nec urna. Etiam ut magna in mauris maximus blandit. In volutpat
                                venenatis tristique. Fusce ut malesuada lectus. Nullam at tristique odio, quis pulvinar
                                turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                curae; Nam arcu lorem, lobortis quis maximus eu, condimentum ut velit.
                            </p>
                            <p>
                                Integer mattis magna et neque efficitur, vel interdum urna vestibulum. Sed consectetur a
                                nisl at vulputate. In hac habitasse platea dictumst. Donec elementum varius arcu, nec
                                mollis purus molestie eget. Phasellus facilisis mi sed tincidunt tristique. Aenean
                                commodo nisi vitae arcu iaculis consectetur. Vestibulum scelerisque convallis mollis.
                                Nullam rutrum posuere tortor, non euismod ex imperdiet et. Donec consectetur, lacus id
                                tempus volutpat, mauris risus semper risus, vitae semper nisl lectus ut enim. Donec
                                mollis, ante a aliquam dictum, elit orci ornare libero, ac dapibus justo dui sit amet
                                urna.
                            </p>
                            <p>
                                Aenean pretium congue tristique. Pellentesque fringilla ante orci, sed vestibulum velit
                                maximus sed. Suspendisse accumsan turpis at congue lobortis. In hac habitasse platea
                                dictumst. Sed et faucibus felis. Fusce elementum viverra sapien, et ullamcorper libero
                                pulvinar a. Morbi sed dui iaculis, volutpat diam ac, facilisis ante. Proin sem lacus,
                                vulputate eu pulvinar luctus, sagittis venenatis turpis. Mauris ultrices nulla posuere
                                libero convallis sodales. Aliquam fringilla id leo vel rutrum. Pellentesque aliquam
                                metus purus, vel vulputate dolor tincidunt ac. Donec imperdiet viverra tristique. Morbi
                                sapien felis, condimentum malesuada finibus a, bibendum et nisi.
                            </p>
                            <h6>Lorem ipsum sub-headline</h6>
                            <p>
                                Curabitur pellentesque pretium lacus at convallis. Aliquam erat volutpat. Praesent lorem
                                mi, elementum vel dolor at, convallis porttitor lectus. Phasellus efficitur libero
                                neque, ut sollicitudin massa efficitur ut. Sed consectetur blandit mauris, sit amet
                                egestas nibh finibus vitae. Vestibulum sagittis placerat turpis eget hendrerit. Nulla
                                iaculis, mauris non pharetra ultrices, turpis risus vestibulum ante, id euismod metus
                                libero id.
                            </p>
                            <ul>
                                <li>
                                    Does your plan have competitive advantages? Will it stand out? What makes it unique?
                                </li>
                                <li>
                                    Can everyone in your organization get on board with the plan and invest themselves
                                    in it?
                                </li>
                                <li>
                                    Are your internal resources aligned with your strategic goals? What do you need to
                                    change or add in order to get where you want to go?
                                </li>
                            </ul>
                            <p>
                                Aenean pretium congue tristique.
                                <a href="#" title="Title here"><strong>Pellentesque fringilla ante orci</strong></a>
                                ,
                                <a href="#" title="Title here">
                                    <strong>sed vestibulum velit maximus sed.</strong>
                                </a>
                            </p>
                            @@if (context.modifier === "imageWithContent"){
                                
                                <h6>Recent Publications:</h6>
                                <ul>
                                    <li>
                                        <a href="#">The Main Event: Looking Back, Planning Ahead</a>
                                    </li>
                                    <li>
                                        <a href="#">How To Stand Out This #GivingTuesday: The Answer Is In Your Messaging</a>
                                    </li>
                                </ul>
                            }
                        </article>
                       
                    </div>
                </div>
            </div>
            @@if (context.modifier === "imageWithContent"){
                <article class="quote texture-dark text-white py-8 py-md-12 px-12 px-md-15 px-xl-25 position-relative">
                    <div class="quote-icon position-absolute bg-white text-orr-blue">
                        <div class="position-relative h-100 w-100">
                            <span class="position-absolute h-100 w-100">“</span>
                        </div>
                    </div>
                    <p class="q-2">When Orr Group orem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec dui a est pellentesque hendrerit vitae a nulla. Quisque ut aliquam velit. Etiam pharetra scelerisque neque, eu finibus nibh maximus. Quisque ut aliquam velit pellentesque hendrerit vitae.”</p> 
                </article>
            }
        </div>
        @@if (context.modifier === "imageWithContent"){
            <div class="d-flex justify-content-center pt-8 pb-10 pt-md-14 pb-md-20">
                <a href="#" class="btn btn-light-blue">Back To Our Team</a>
            </div>
        }
    </div>
</section>

<script async type="text/javascript" src="scripts/video-play.js"></script>
