<section class="image-and-content image-and-content--@@modifier  position-relative overflow-hidden d-flex align-items-center @@backgroundColor">
 
    <div class="container ">
        @@if (context.modifier === "service"){
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Strategy",
                'description'           : " When nonprofits don't reach their milestones, it's seldom because their expectations were unrealistic. It's because they lacked a strong plan. We're experts in helping you build a strategy that's equal to your vision of the future. Let us help you get there.",
                'imgPath'               : 'strategy-box@2x.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Fundraising",
                'description'           : "Many nonprofits fall short of their fundraising goals simply because they've fallen behind the times. Technology, metrics, and data development are just some of the tools Orr has pioneered to build efficiency and relationships - and with them, revenue. We can help transform how you're raising your money.",
                'imgPath'               : 'fundraising-box@2x.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Campaigns",
                'description'           : " If a new vision for growth or change calls you but your organization lacks the resources to pursue it, a targeted campaign could be the breakthrough you need. Campaigns require careful planning and coordinated effort, and we have the capacity and expertise to work at every stage of planning and implementation to ensure a successful outcome.",
                'imgPath'               : 'campaigns-box.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Talent",
                'description'           : "It's all about the team. We can manage your recruitment and hiring efforts, support your Human Resources function, and help you infuse diversity, equity and inclusion throughout your organization's policies and culture.",
                'imgPath'               : 'fundraising-box@2x.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
        <div class="image-and-content-wrapper"> 
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Planned Giving",
                'description'           : " Nonprofits that don't devote significant resources toward cultivating legacy gifts are missing a crucial opportunity in our present philanthropic cycle. Orr can help you strategize for breakthrough planned giving.",
                'imgPath'               : 'strategy-box@2x.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'      : "text-orr-blue",
                "descriptionTextColor"  : "text-dark-blue",
                'heading'               : "Leadership",
                'description'           : "Gaps and weaknesses at the top can cause dysfunction all the way down. Great leaders are hard to find and, in our new reality, increasingly hard to keep. We can help you dramatically improve the leadership you already have, and embed experienced executive staff to fill crucial areas of need across a range of roles.",
                'imgPath'               : 'leadership-box.png',
                'linkShowHide'          : 'd-block',
            })
        </div>
    }

    @@if (context.modifier === "result"){
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : " text-white ",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Black Girls CODE",
                'description'               : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus mollis, tincidunt tellus vel, blandit ligula. In lacinia ante dui, bibendum euismod sapien rutrum ac. Quisque ultricies purus vitae ex tempor tincidunt. Maecenas porttitor diam ut lacus iaculis sagittis. Mauris maximus sollicitudin diam quis porttitor. Morbi scelerisque pellentesque mattis.",
                'imgPath'                   : 'screen-shot-2022-01-21-at-10-37-09-am@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-white",
                'heading'                   : "City Harvest",
                'description'               : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus mollis, tincidunt tellus vel, blandit ligula. In lacinia ante dui, bibendum euismod sapien rutrum ac. Quisque ultricies purus vitae ex tempor tincidunt. Maecenas porttitor diam ut lacus iaculis sagittis. Mauris maximus sollicitudin diam quis porttitor. Morbi scelerisque pellentesque mattis.",
                'imgPath'                   : 'screen-shot-2022-01-21-at-10-37-09-am@3x.jpg',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-white ",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Girl Scouts of the USA",
                'description'               : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus mollis, tincidunt tellus vel, blandit ligula. In lacinia ante dui, bibendum euismod sapien rutrum ac. Quisque ultricies purus vitae ex tempor tincidunt. Maecenas porttitor diam ut lacus iaculis sagittis. Mauris maximus sollicitudin diam quis porttitor. Morbi scelerisque pellentesque mattis.",
                'imgPath'                   : 'img-results-003@2x.jpg',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-white",
                'heading'                   : "KaBOOM!",
                'description'               : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus mollis, tincidunt tellus vel, blandit ligula. In lacinia ante dui, bibendum euismod sapien rutrum ac. Quisque ultricies purus vitae ex tempor tincidunt. Maecenas porttitor diam ut lacus iaculis sagittis. Mauris maximus sollicitudin diam quis porttitor. Morbi scelerisque pellentesque mattis.",
                'imgPath'                   : 'img-results-004@2x.jpg',
                'linkShowHide'              : 'd-none',
            })
        </div>
    }

    @@if (context.modifier === "values"){
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Curiosity about the work.",
                'description'               : "That means asking great questions - sometimes tough ones - and letting the answers guide us to the truth. We want to know everything about our partners. We listen first, then analyze, then synthesize. That's how the truth reveals itself.",
                'imgPath'                   : 'campaigns-circle@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Diversity & equity<br>in decision-making.",
                'description'               : "We recognize the systemic inequities that shape our world, and we're committed to combating them in the nonprofit sector. We strive for equity in our workplace, in our partners' cultures, and in the field of philanthropy as a whole. We know that a diverse organization is a healthier and stronger organization. It's simply better for business.",
                'imgPath'                   : 'strategy-circle@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Elevating our people.",
                'description'               : "Investing time and energy in our staff helps them grow stronger in their work. We encourage each other to think creatively and build our work around our unique strengths. We give our teammates the reins so they can lead our charges, win the day, and get the credit they deserve for our wins.",
                'imgPath'                   : 'talent-circle-xl@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Thinking like our<br>partners think.",
                'description'               : "Nonprofits are driven, above all, by mission, passion and belief. We hold our partners' mindsets close in our approach to supporting them, and we align every suggestion and decision we make with their values. ",
                'imgPath'                   : 'leadership-circle-xl@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
        <div class="image-and-content-wrapper">
            @@include('../cards/card-image-and-content.html', {
                'headingTextColor'          : "text-orr-blue",
                "descriptionTextColor"      : "text-dark-blue",
                'heading'                   : "Bringing a business mindset.",
                'description'               : "Top of mind in our work is always our clients' missions, but we must also stay true to who we are. Nonprofits need to learn the language and territory of business. We're their guides, translators, and sometimes transactors. We're nimble, efficient, and smart. We pursue the best solutions, whether they're brand new or tried and true. We know how to leverage the power of data, metrics, and analytics. And we're always focused on the bottom line: Does it work?",
                'imgPath'                   : 'strategy-circle@2x.png',
                'linkShowHide'              : 'd-none',
            })
        </div>
    }
    </div>
</section>
