@import '../common-imports';

.careers {
    .porthole-module{
        &--alternate {
            padding-top: 0 !important;

            @include media-breakpoint-up(xl) {
                padding-top: 4.6rem !important;
            }
        }       
    }

    .current-openings {
        padding-bottom: 4rem!important;
        @include media-breakpoint-up(xl) {
            padding-top: 8rem !important;
            padding-bottom: 8rem !important;
        }
    }
    .form-join-our-talent-community{
        @include media-breakpoint-up(lg) {
            padding-top: 3.2rem !important;
            padding-bottom: 9.6rem !important;
        }
    }
}
