@import '../common-imports';

.clients {
    .client-list,
    .video-module {
        padding: 0 !important;
    }

    .client-list,
    .video-module,
    .cta-banner {
        margin-top: 7.6rem;

        @include media-breakpoint-up(md) {
            margin-top: 8.6rem;
        }

        @include media-breakpoint-up(md) {
            margin-top: 9.6rem;
        }
    }
}
