@import "../common-imports";

.individual-bio-page{
    .article-content{
        &-header{
            margin-top:-6.2rem;
            @include media-breakpoint-up(xl){
                margin-top: -18rem;
            }
            
            &__individual-info{
                width: 100%;
                @include media-breakpoint-up(md){
                    width: 40%;
                }
                &-social{
                    li{
                        list-style: none;
                    }
                    figure{
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
            &__image{
                width: 100%;
                @include media-breakpoint-up(md){
                    width: 60%;
                }
                figure{
                    box-shadow: $shadow8;
                }
            }
        }
        .quote{
            @include media-breakpoint-down(md){
                margin-left: -3.6rem;
                margin-right: -3.6rem;
            }
            &-icon{
                box-shadow: $shadow9;
                font-size: 3.1rem;
                height: 2.5rem;
                width: 2.5rem;
                font-weight: 900;
                border-radius: 50%;
                left: 1.5rem;
                @include media-breakpoint-up(md){
                    font-size: 3.6rem;
                    height: 3rem;
                    width: 3rem;
                }
                @include media-breakpoint-up(md){
                    font-size: 4.5rem;
                    height: 3.5rem;
                    width: 3.5rem;
                }
                @include media-breakpoint-up(xl){
                    font-size: 5.6rem;
                    height: 4rem;
                    width: 4rem;
                    left: 4.5rem;
                }
                span{
                    transform: translate(15%, -10%);
                        @include media-breakpoint-up(xl){
                            transform: translate(8%, -20%);
                        }
                }
            }
        }
        &-post{
            li{
                &::marker{
                    color: $dark-blue;
                }
                a{
                    color: $orr-blue;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
