@import "../common-imports";

.knowledge-center {
    .featured-block--block1 {
        margin-top: 11rem;
        padding-bottom: 0rem !important;

        @include media-breakpoint-up(xl) {
            margin-top: 13.4rem;
        }
    }

    .featured-category-slider {
        margin-bottom: 3.2rem !important;
    }

    .featured-block--block3 {
        padding-bottom: 0.8rem !important;
    }

    .related-article {
        padding-top: 2.4rem !important;
        padding-bottom: 2.4rem !important;

        .h6 {
            margin-bottom: 2.4rem !important;
        }
    }

    .search-banner {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }

    .cta-banner {
        &--inline {
            .cta-banner-content {
                flex-direction: column;
                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }
                .cta-banner-figure {
                    min-width: 6.4rem;
                    max-width: 6.4rem;
                    margin: 0 auto;
                    @include media-breakpoint-up(md) {
                        margin: 0 2.4rem 0 0;
                    }
                    @include media-breakpoint-up(lg) {
                        min-width: 10.8rem;
                        max-width: 10.8rem;
                    }
                }
                h5 {
                    font-size: 2.03rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 2.91rem;
                    }
                }
            }
        }
    }
}
