@import '../common-imports';

.our-values {
    .leadspace--values .container > div {
        @include media-breakpoint-up(md) {
            padding-bottom: 10.9rem;
        }
    }

    .image-and-content--values {
        padding-bottom: 8rem;

        @include media-breakpoint-up(md) {
            padding-bottom: 10rem;
        }

        @include media-breakpoint-up(md) {
            padding-bottom: 12.4rem;
        }
    }
}
