@import '../common-imports';

.strategy {
    .bullet-list {
        padding: 0.5rem 0 0 0 !important;

        p {
            margin-top: 2.4rem;
            @include media-breakpoint-up(xl) {
                margin-top: 2.8rem;
            }
        }
    }

    .tabbed-text {
        padding-top: 4rem !important;

        @include media-breakpoint-up(xl) {
            padding-top: 9.6rem !important;
        }
    }
}
