@import '../common-imports';

.video-library {
    .theme-main {
        @include media-breakpoint-up(md) {
            margin-top: 11rem;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 13.4rem;
        }
    }

    .leadspace5 {
        &--icon {
            padding-top: 14.6rem !important;
            padding-bottom: 2rem !important;
            @include media-breakpoint-up(md){           
                padding-top: 8rem !important;
                padding-bottom: 4rem!important;
            }
            @include media-breakpoint-up(xl){
                padding-bottom: 8rem!important;
            }
        }

        &-figure {
            margin-top: -3rem !important;
            margin-bottom: -2.4rem !important;
            @include media-breakpoint-up(md){
                margin-right: 3.8rem !important;
            }
            @include media-breakpoint-up(xl) {
                height: 23rem;
                width: 23rem;
            }
        }
    }
}
